body {
  margin: 0;
  font-family: cursive;
  background: #000033;
  background: -webkit-linear-gradient(to right, #add8e6, #87CEEB, #006699, #eaeaec);
  background: linear-gradient(to right, #add8e6, #87CEEB, #006699, #000033);  
}

img {
  border-radius: 55%;
  width: 300px;
  opacity: 0.9;
}

a {
  color: black;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 22px;
}

table, th, td {
  border: 1.5px solid black;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  /* background: linear-gradient(to right, #f0a9a8, #ffedb2); */
  color: rgb(56, 35, 35);
}

/* .navbar {
  border-radius: 5px;
  background-color: #89CFF0;
  opacity: 1;
  position: fixed;
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-color: peachpuff;
  border-style: solid;
}

*/

.navbar {
  margin: 0;
  padding: 0;
  width: 150px;
  height: 100%;
  background-color: #89CFF0;
  border-color: peachpuff;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-style: solid;
}

.navbar a {
  display: block;
  padding: 16px;
  opacity: 0.8;
  text-decoration: none;
  color: #000033;
  font-size: 16px;
  font-family: cursive;
}

.container {
  margin-left: 115px;
  padding: 25px;
}

.column {
  float: left;
  width: 50%;
}

.image-container {
  text-align: center;
}

.row:after {
  display: table;
  clear: both;
}


#Container_Links {
  padding: 15px;
}

#p_Container_Links {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 15px;
}

#Container_Rechts {
  padding: 5px;
}

#Hobby {
  text-align: center;
}

#Borders {
  border-radius: 5px;
  padding: 18px;
  text-align: center;
  border: 2px solid peachpuff;
  background: linear-gradient(to right, white, snow);  
}

/* Mobile Design and Responsiveness */
@media only screen and (max-width: 480px) {
  body {
    padding: 20px;
    margin-top: 100px;
  }

  .navbar {
    width: 100%;
    height: auto;
    position: fixed;
    margin-left: -25px;
    margin-top: -5px;
    top: 0;
    margin-bottom: 25px;
    text-align: center;
    opacity: 1;
  }
  
  .navbar a {
    padding: 5px; 
    font-size: 14px; 
  }

  .container {
    margin-left: 0px;
  }

  .column {
    width: 100%;
  }

  #p_Container_Links,
  #Container_Rechts,
  #Hobby {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  img {
    width: 100%;
    border-radius: 0;
    opacity: 1;
  }
}