/* body {
  margin: 0;
  font-family: cursive;
  background: #ed4264;
  background: -webkit-linear-gradient(to right, #ed4264, #ff668f, #ffefb5);
  background: linear-gradient(to right, #ed4264, #ff668f, #ffefb5);
  background-image: linear-gradient(to right, #ffcccb, #ffe0b2);
} */

body {
  margin: 0;
  font-family: cursive;
  background: #000000;
  background: -webkit-linear-gradient(to right, #000000, #035a4b, #02b5bb);
  background: linear-gradient(to right, #000000, #015547, #01aeb4);
  background-image: linear-gradient(to right, #004d40, #07bea0);
}

a {
  color: black;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 22px;
}

table, th, td {
  border: 1.5px solid black;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background: linear-gradient(to right, #f0a9a8, #ffedb2);
  color: rgb(56, 35, 35);
}

.navbar {
  border-radius: 5px;
  background-color: #d13c5a;
  opacity: 0.2;
  position: fixed;
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-color: peachpuff;
  border-style: solid;
}

.navbar a {
  opacity: 0.8;
  text-decoration: none;
  color: rgb(241, 239, 239);
  font-size: 16px;
  font-family: cursive;
}

.container {
  margin-left: 115px;
  padding: 25px;
}


@media only screen and (max-width: 480px) {
  body {
    padding: 20px;
    margin-top: 150px;
  }

  .navbar {
    width: 100%;
    height: auto;
    position: fixed;
    margin-left: -25px;
    margin-top: -5px;
    top: 0;
    padding: 25px;
    margin-bottom: 25px;
    text-align: center;
    opacity: 1;
  }

  .navbar a {
    display: block;
    width: 100%;
    text-align: center;
  }

  .container {
    margin-left: 0px;
  }
}