ul {
    list-style-image: url('../img/small_list_image.jpg');
}

#output_results {
    position: absolute;
    margin-top: 100px;
    margin-left: 500px;
    border: 3px solid;
    border-color: blueviolet;
    padding-right: 25px;
}

#output_calculator {
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button_x {
    background-color: white;
    color: black;
    border: 2px solid #f44336;
}

.button_x:hover {
    background-color: #4CAF50;
    color: white;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

th,
td {
    padding: 5px;
}