/* Naam: Fenne Thijs */

body {
    background-color: gray;
}

.container {
    padding: 0 120px;
    margin-left: auto;
    margin-right: auto;
}

article {
    border: 1px red solid;
    display: inline-block;
    width: 100px;
    text-align: center;
}

nav {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
li {
    display: inline;
    background-color: black;
    color: white;
    padding: 14px 16px;

}

a:link{
    color: white;
}

a:hover {
    color:grey;
}

.onering {
    width: 75px;
    height: 75px;
}

.OTAG, .onering {
    background-color: black;
    color: white;
    float: right;
}

.header {
    padding: 60px;
    text-align: center;
    background: black;
    color: white;
    font-size: 30px;
}

footer {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    background-color: #000000;
    color: gray;
    text-align: center;
    bottom: 0;
    left: 0;
}

article {
    width: 30%;
    height: 700px;
    border-radius: 7px;
    background-color: white;
    margin-top: 20px;
}

article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    background-color: white;
    opacity: 0.7;
}

article h5, p, h2 {
    position: center;
    text-align:  center;
    background-color: white;
}

.questHobbit {
    display: inline-block;
    background: green;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    padding: 8px 12px;
}

.storyHuman {
    display: inline-block;
    background: red;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    padding: 8px 12px;
}

.infoElf {
    display: inline-block;
    background: gray;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    padding: 8px 12px;
}

.dwarf {
    display: inline-block;
    background: orange;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    padding: 8px 12px;
}

.wizard{
    display: inline-block;
    background: deepskyblue;
    border-radius: 5px;
    font-size: 14px;
    color: white;
    padding: 8px 12px;
}

.column {
    float: left;
    max-width: 1200px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 30%;
    padding: 0 10px;
}

.row:after {
    display: table;
    clear: both;
    content: "";
}
.row {
    margin: 0 -5px;
}


.card img{
    width: 30%;
}

@media screen and (max-width: 1000px){
    .column {
        display: block;
        margin-bottom: 20px;
        width: 100%;
    }
    .card img{
        width: 30%;
    }
}


@media screen and (max-width: 800px){
    .column {
        display: block;
        margin-bottom: 20px;
        width: 100%;
    }
    .card img{
        width: 170px;
    }
}
