/* Naam: Fenne Thijs*/
h1 {
    border-bottom: 3px solid #1b9af0;
    padding-bottom: 8px;
    padding-top: 16px;
}

tbody tr:hover {
    background-color: rgba(156, 134, 8, 0.685);
}

tbody tr:hover img{
    width: 150px;
}

tbody p{
    color: red;
    border-style: solid;
    text-align: right;
}
thead td{
    font-weight: bold;
}

tfoot th{
    font-weight: normal;
}
table {
    width: 800px;
}

tr:nth-child(even) {
    background-color: #faf8f7;
}

table, th, td {
    border: 2px solid gray;
    border-collapse: collapse;
}

tbody td, th:first-child {
    text-align: left;
}
td {
    text-align: center;
}

th {
    color: white;
    background-color: black;
}

img {
    display: block;
    margin: auto;
}

